<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Liste des Additifs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item 
      text-wrap
      button
      *ngFor="let item of list$|async"
      (click)="goDetail(item.id)">
      <ion-avatar slot="start" [style.background]="item?.getColor">
          <span [style.color]="'#fff'">E{{item?.id}}</span>
      </ion-avatar>
      <ion-label>
        <ion-text color="dark">
          <h2>{{item?.name}}</h2>
        </ion-text>
        <p>{{item?.type}}</p>
      </ion-label>
      <ion-icon mode="ios" slot="end" color="primary" name="arrow-dropright-circle" clear item-right></ion-icon>
    </ion-item>

  </ion-list>

</ion-content>